
.stores{width: 1170px;margin: auto;margin-bottom: 100px;}
.storeA{padding: 15px 0px;border: 1px solid rgb(238,238,238);box-shadow: 0px 0px 3px rgba(1,1,1,0.2);}
.storeA b{margin-left: 44px;margin-right: 11px;font-size: 1.1rem;}
.storeA span{margin: 0px 18px;font-size: 0.9rem;color: rgb(71,71,71);padding: 1px 4px;transition: 0.2s linear;}
.storeA span:hover{background: rgb(255,86,90);color: white;}
.storeB ul{list-style: none;font-size: 0px;}
.storeB ul li{list-style: none;font-size: 0.9rem;}
.onestore{padding: 16px;border: 1px solid rgb(238,238,238);margin: 18px 0px;box-shadow: 0px 1px 2px rgba(1,1,1,0.2);}
.storeB{}
.storeBa, .storeBb, .storeBc, .storeBd{display: inline-block;vertical-align: middle;}
.storeBa{border: 1px solid rgb(238,238,238);}
.storeBa img{width: 150px;height: 150px;}
.storeBb{line-height: 28px;font-size: 0.8rem;margin-left: 30px;width: 170px;}
.storeBb strong{color: rgb(255,86,90);font-size: 1rem;width: 90px;display: inline-block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.guanzhu{background: rgb(255,86,90);padding: 2px 10px;color: #ffffff;border-radius: 3px;font-size: 0.9rem;margin-left: 25px;cursor: pointer;}
.storeBb div:nth-of-type(1) img{width: 90px;height: 45px;}
.storeBc{margin-left: 20px;color: rgb(71,71,71);line-height: 25px;font-size: 0.8rem;}
.storeBc span{color: #D22B2B;}
.storeBd {margin-left: 75px;}
.storegood {display: inline-block;width: 112px;position: relative;text-align: center;margin: 0px 16px;}
.storegood img{width: 112px;height: 112px;}
.price{position: absolute;background: rgba(1,1,1,0.2);color: white;top: 90px;width: 100%;}
.goodInfo{width: 112px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;font-size: 0.7rem;margin-top: 7px;}
#pageToolbar{text-align: center;}
